# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Search (Optional if using local search, mandatory if using Algolia)
NEXT_PUBLIC_ALGOLIA_APP_ID=your_app_id
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=your_search_key