# Dependencies
node_modules/
.pnp
.pnp.js
.next/

# Production
build/
dist/

# Database Data (IMPORTANT: Don't upload your local DB data)
postgres_data/

# Environment Variables
.env
.env.local
.env.development.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?